In [1]:
import numpy as np
import matplotlib.pyplot as plt
import random
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as acc
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
import math

In [14]:
data_inlet=pd.read_csv('new_data_inlet.csv')
data_outlet=pd.read_csv('new_data_outlet.csv')
effluent_data=pd.read_csv('CleanData_V2.csv')

In [8]:
data_outlet.columns

Index(['Unnamed: 0', 'record_date', 'avg_outflow'], dtype='object')

In [6]:
data_inlet['record_date']= pd.to_datetime(data_inlet['record_date']).dt.date

In [9]:
data_outlet['record_date']= pd.to_datetime(data_outlet['record_date']).dt.date

In [11]:
joined_data=pd.concat([data_outlet,data_inlet], axis=1, join='inner')

In [16]:
joined_data2=pd.concat([joined_data,effluent_data], axis=1, join='inner')

In [17]:
joined_data2

,Unnamed: 0,record_date,avg_outflow,Unnamed: 0,record_date,avg_inflow,feeder1_kwh,feeder2_kwh,Ammonia_mg_L_1,BOD_mg_L_1,...,H,PP,VV,V,VM,VG,year,month,day,record_date
0,0,2009-01-01,2.941282,0,2009-01-01,2.588918,105695,70161,27.0,365.0,...,56,1.52,10.0,26.9,53.5,79.5,2014,1,1,01-01-2014
1,1,2009-02-01,2.935526,1,2009-02-01,2.961178,111836,69788,25.0,370.0,...,63,0.00,10.0,14.4,27.8,0.0,2014,1,2,02-01-2014
2,2,2009-03-01,2.928222,2,2009-03-01,3.225309,140088,61928,42.0,418.0,...,47,0.25,10.0,31.9,61.1,77.8,2014,1,5,05-01-2014
3,3,2009-04-01,2.927961,3,2009-04-01,3.354091,140121,67426,36.0,430.0,...,49,0.00,10.0,27.0,38.9,53.5,2014,1,6,06-01-2014
4,4,2009-05-01,2.917222,4,2009-05-01,3.794004,135260,67564,46.0,508.0,...,65,0.00,10.0,20.6,35.2,53.5,2014,1,7,07-01-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,1377,2012-11-10,5.068004,1377,2012-09-10,4.716265,167475,138463,28.0,310.0,...,56,0.00,10.0,14.4,22.2,0.0,2019,6,20,20-05-2019
1378,1378,2012-12-10,5.882439,1378,2012-10-10,5.510004,160476,132970,40.0,250.0,...,71,0.00,0.0,13.5,25.9,0.0,2019,6,24,24-05-2019
1379,1379,2012-10-13,4.638265,1379,2012-11-10,4.810787,174179,133789,47.0,260.0,...,65,0.00,10.0,18.1,25.9,0.0,2019,6,25,25-05-2019
1380,1380,2012-10-14,5.372526,1380,2012-12-10,4.929222,166213,150462,46.0,300.0,...,65,0.00,10.0,21.9,35.2,51.9,2019,6,26,26-05-2019
1381,1381,2012-10-15,4.072309,1381,2012-10-13,5.193874,173246,145022,31.0,270.0,...,63,0.00,10.0,28.0,44.6,66.5,2019,6,27,27-05-2019

In [18]:
joined_data2.to_csv('joined_tables.csv')